body {
  background-color: LightSteelBlue;
  text-align: center;
  margin: 0;
}
.table{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#Jeu {
  display: inline-block;
  background-color: SteelBlue;
  padding: 10px;
  width: 48%;
}

#Jeu div {
  margin: 0 auto;
  overflow: hidden;
}

#Jeu button {
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 50px;
  margin: 5px;
  float:left;
}
.player1{
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  width: 40%;
}
.player1Infos{
  border: 2px solid black;

}
.gameScore1{
  border: 2px solid black;
}
.player2{
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  width: 40%;
}
.player2Infos{
  border: 2px solid black;

}
.gameScore2{
  border: 2px solid black;
}
#StatutJeu {
  color: black;
  background: #eee;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 1440px){
  .table{
    flex-direction: column;
  }
  .player1, .player2{
    width: 100%;
    border: none;
  }
  #Jeu{
    padding: 0;
    width: 100%;
  }
  .buttonHolder{
    display: flex;
    justify-content: center;
  }
  #Jeu button{
    margin: 12px;
  }
}

@media (max-width: 320px){
  #Jeu button{
    margin: 5px;
  }
}