/* ALL */

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
  
html, body {
    scroll-behavior: smooth;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.grayText{
    color: #9c9d9f;
}

/* HEADER */
header{
    display: flex;
    flex-direction: row;
    background: transparent;
    color: white;
    justify-content: space-around;
}
nav{
    display: inherit;
    flex-direction: row;
}
.divLogoHeader{
    display: inherit;
    font-size: 25px;
}
.divLinksHeader{
    display: inherit;
    justify-content: center;
}
.ulLinksHeader{
    display: inherit;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}
.linksHeader {
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-duration: 1s;
}
.linksHeader:hover{
    color: #9c9d9f;
}

li:hover{
    color: #9c9d9f;
}
.divIconsHeader{
    display: inherit;
    justify-content: space-between;
    width: 5%;
    align-items: center;
}
input[type="checkbox"]{
    display: none;
}

/* news Section */
.newsSection{
    display: flex;
    height: 100vh;
    justify-content: center;
    background: transparent;

}
.containNews{
    display: inherit;
    align-items: center;
    height: 92%;
    justify-content: center;
}
.news{
    display: inherit;
    flex-direction: column;
    width: 35%;
    text-align: left;
    height: 100%;
    justify-content: center;
}
.titleNews{
    font-size: 68px;
    width: 77%;
}
.textNews{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    text-align: justify;
}

.inputEmail{
    display: inherit;
    width: 75%;
    height: 6%;
    z-index: 1;
    background-color: #deecf5;
    border: 0;
    border-radius: 30px;
    padding-left: 10px;
    margin-top: 10px;
}
.inputEmail:focus{
    outline: none;

}
.buttonSubmit{
    width: 25%;
    position: relative;
    z-index: 2;
    left: 50%;
    border: 0;
    border-radius: 25px;
    height: 6%;
    background-color: #4094b9;
    color: white;
    bottom: 6%;
    transition-property: background-color;
    transition-duration: 2s;
}
.buttonSubmit:hover{
    background-color: #5db0d4;
}
.imageNews{
    display: inherit;
    width: 42%;
    height: 73%;
    justify-content: center;
    bottom: 33px;
    position: relative;
}
.imgFigureNews{
    display: inherit;
    width: 100%;
    position: relative;
    height: 100%;
}
.imgNews{
    object-fit: contain;
    width: 100%;
}

/* second Section */
.featuresSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background-color: white;
}
.featuresHolder{
    display: inherit;
    flex-direction: column;
    width: 29%;
    padding-top: 60px;
    text-align: center;
}
.featuresTitle{
    padding-bottom: 10px;
}
.featuresCards{
    display: inherit;
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 58%;
    padding-top: 50px;
    color: white;
}
.firstCard{
    display: inherit;
    flex-direction: column;
    border-radius: 10px;
    width: 20%;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 100%;
    justify-content: center;
    margin-right: 25px;
}
.firstCard:hover, .secondCard:hover, .thirdCard:hover{
   position: relative;
   bottom: 15px;
}
.secondCard{
    display: inherit;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 31px;
    width: 20%;
    height: 100%;
    justify-content: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    margin-right: 25px;
}
.thirdCard{
    display: inherit;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 31px;
    width: 20%;
    height: 100%;
    justify-content: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    margin-right: 25px;
}
.titleCard{
    padding-top: 35px;
    font-size: 25px;
}
.textCard{
    padding-top: 15px;
}

/* Third section */
.teamsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    padding-bottom: 25px;
    background-color: white;
}
.teamsText{
    display: inherit;
    flex-direction: column;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
}
.teamsTitle{
    display: inherit;
    width: 74%;
}
.teamsDescr{
    display: inherit;
    width: 100%;
    justify-content: space-evenly;
}
.firstDescr{
    display: inherit;
    flex-direction: column;
    width: 15%;
    align-items: center;
}
.secondDescr{
    display: inherit;
    flex-direction: column;
    width: 15%;
    align-items: center;
}
.thirdDescr{
    display: inherit;
    flex-direction: column;
    width: 15%;
    align-items: center;
}
.fourthDescr{
    display: inherit;
    flex-direction: column;
    width: 15%;
    align-items: center;
}
.titleDescr{
    font-size: 25px;
}
.textDescr{
    font-size: 15px;
}
.teamsFigure{
    padding-top: 15px;
    border-radius: 50%;

}
.teamsIMG{
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    filter: grayscale(100%);
    transition: transform 1s, display 1s, color;
}
.twitterTeams{
    display: none;
    position: relative;
    left: 20%;
    bottom: 50%;
    z-index: 2;
}
.facebookTeams{
    display: none;
    position: relative;
    left: 40%;
    bottom: 50%;
    z-index: 2;

}
.discordTeams{
    display: none;
    position: relative;
    left: 59%;
    bottom: 50%;
    z-index: 2;

}
.teamsIMG:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
.teamsIMG:hover ~ .fa-brands {
    display: var(--fa-display,inline-block);
    transform: scale(1.1);
    color: white;
}

/* Fourth Section */

.parallaxSection{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/parallax.png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.parallaxTest{
    display: inherit;
    justify-content: center;
    width: 60%;
    flex-direction: column;
    color: white;
}
.titleParallax{
    font-size: 30px;
}
.parallaxButton{
    align-self: center;
    padding: 14px;
    position: relative;
    margin-top: 25px;
    width: 15%;
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    transition-property: color, background-color, bottom;
    transition-duration: 0.3s;
    bottom: 0;
}
.parallaxButton:hover{
    color: black;
    background-color: white;
    bottom: 5px;
}

/* Five Section */
.blogSection{
    display: flex;
    flex-direction: column;
    height: 24%;
    padding-top: 30px;
    background-color: white;
}
.blogFirstPart{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    width: 30%;
    align-self: center;
    text-align: center;
}
.blogTitle{
    font-size: 30px;
}
.blogHolder{
    display: inherit;
    justify-content: space-evenly;
    width: 100%;
}
.firstBlog{
    display: inherit;
    flex-direction: column;
    width: 25%;
    height: 85%;
}
.secondBlog{
    display: inherit;
    flex-direction: column;
    width: 25%;
    height: 85%;
}
.thirdBlog{
    display: inherit;
    flex-direction: column;
    width: 25%;
    height: 85%;
}
.blogFigure{
    display: inherit;
    height: 74%;
    flex-direction: column;
    position: relative;
    z-index: 0;
}
.fa-user{
    display: none;
    position: absolute;
    left: 5%;
    top: 15%;
}
.fa-clock{
    display: none;
    position: absolute;
    left: 5%;
    top: 25%;
}
.blogImage{
    height: 100%;
}
.blogImage:hover{
    filter: grayscale(100%);
}

.blogImage:hover ~ .fa-regular{
    display: var(--fa-display,inline-block);
    color: white;
}
.titleBlog{
    padding-bottom: 10px;
}
.linkBlog{
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

/* Six Section */

.priceSection{
    display: flex;
    flex-direction: row;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}
.textPartPrice{
    display: inherit;
    flex-direction: column;
    width: 27%;
}
.titlePart{
    font-size: 24px;
    padding-bottom: 45px;
}
.textPart{
    padding-bottom: 40px;
}
.firstInfoTextPart{
    display: inherit;
    justify-content: space-between;
    width: 44%;
    font-size: 25px;
}
.secondInfoTextPart{
    display: inherit;
    justify-content: space-between;
    width: 60%;
    padding-bottom: 30px;
}
.learnmorePricing{
    display: inherit;
    width: 30%;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #5f8fff;
    color: white;
}
.imagePart{
    display: inherit;
    height: 70%;
    width: 35%;
}
.figImagePrice{
    display: inherit;
    width: 100%;
}
.imgPrice{
    width: 100%;
}

/* Seven Section */
.tabSection{
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f3f3f3;
}
.tabTextPart{
    width: 26%;
    text-align: center;
    margin-bottom: 60px;
}
.tabPart{
    display: inherit;
    width: 70%;
    height: 66%;
    justify-content: space-evenly;
}
.tab{
    display: inherit;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: 100%;
    border-radius: 5%;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px gray;
}
.tabTwo{
    display: inherit;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: 100%;
    border-radius: 5%;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px gray;
    position: relative;
    bottom: 30px;
}
.tabText{
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.tabTitle{
    font-size: 15px;
}
.textUnderTitle{
    display: inherit;
    flex-direction: row;
    width: 36%;
    font-size: 20px;
    text-align: end;
}
.price{
    color: #5a90fe;
    font-size: 50px;
}
.time{
    align-self: self-end;
}
.tabSpec{
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    height: 48%;
    padding-left: 15px;
    padding-right: 15px;
}
.Spec, .Checklist{
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
}
.buttonTab{
    display: inherit;
    align-self: center;
    justify-content: center;
    width: 92%;
    background-color: #5a8fff;
    color: white;
    height: 10%;
    align-items: center;
    border-radius: 5px;
    border: 0;
}
.buttonTab:hover{
    background-color: #1294b8;
    color: white;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15vh;
    align-items: center;
    background-color: #26272b;
    color: gray;
    text-align: center;
}
.footerHolder{
    display: inherit;
    flex-direction: column;
    width: 25%;
}
.iconsFooter{
    display: inherit;
    justify-content: space-around;
    padding-bottom: 10px;
}
.facebookFooter{
    border-radius: 50%;
    border: solid gray 2px;
    padding: 5px;
}
.twitterFooter{
    border-radius: 50%;
    border: solid gray 2px;
    padding: 5px;
}
.linkedinFooter{
    border-radius: 50%;
    border: solid gray 2px;
    padding: 5px;
}
.gplusFooter{
    border-radius: 50%;
    border: solid gray 2px;
    padding: 5px;
}
.rgpdFooter{
    display: inherit;
    justify-content: space-around;
    padding-bottom: 10px;
}

/* Button UpToPage */
.buttonUpToPage{
    position: fixed;
    left: 96%;
    top: 90%;
    padding: 20px;
    border-radius: 50%;
    border: solid gray 2px;
    background-color: #26272b;
    color: white;
}