/* ALL */

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
html,
  body {
    scroll-behavior: smooth;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
  }

.grayText {
  color: #9c9d9f;
}
section{
  min-height: 100vh;
}


/* Large Screen (Default) */

  /* HEADER */
  .home{
    min-height: 60px;
  }
  header {
    display: flex;
    flex-direction: row;
    background: transparent;
    color: white;
    justify-content: space-around;
  }
  nav {
    display: inherit;
    flex-direction: row;
    width: 35%;
    justify-content: space-evenly;
  }
  .divLogoHeader {
    display: inherit;
    font-size: 25px;
  }
  .divLinksHeader {
    display: inherit;
    justify-content: center;
    width: 100%;
  }
  .ulLinksHeader {
    display: inherit;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .linksHeader {
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-duration: 1s;
  }
  .linksHeader:hover {
    color: #9c9d9f;
  }

  li:hover {
    color: #9c9d9f;
  }
  .divIconsHeader {
    display: inherit;
    justify-content: space-between;
    width: 5%;
    align-items: center;
  }
  input[type="checkbox"] {
    display: none;
  }

  /* news Section */
  .newsSection {
    display: flex;
    justify-content: center;
    background: transparent;
  }
  .containNews {
    display: inherit;
    align-items: center;
    justify-content: center;
  }
  .news {
    display: inherit;
    flex-direction: column;
    width: 35%;
  }
  .titleNews {
    font-size: 68px;
  }
  .textNews {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    text-align: justify;
  }
  .formHolder{
    display: inherit;
    position: relative;
    background-color: #deecf5;
    width: 80%;
    border-radius: 30px;
    border: 0;
  }
  .inputEmail {
    display: inherit;
    width: 67%;
    height: 5vh;
    background-color: #deecf5;
    border: 0;
    border-radius: 30px;
    padding-left: 19px;
    font-size: 15px;
  }
  .inputEmail:focus {
    outline: none;
  }
  .buttonSubmit {
    top: 0px;
    right: 0px;
    width: 15vh;
    position: absolute;
    border: 0;
    border-radius: 25px;
    height: 5vh;
    background-color: #4094b9;
    color: white;
    transition-property: background-color;
    transition-duration: 2s;
    font-size: 15px;
  }
  .buttonSubmit:hover {
    background-color: #5db0d4;
  }
  .imageNews {
    display: inherit;
    width: 42%;
    bottom: 33px;
    position: relative;
  }
  .imgFigureNews {
    width: 100%;
  }
  .imgNews {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  /* second Section */
  .featuresSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    min-height: 70vh;
    background-color: white;
  }
  .featuresHolder {
    display: inherit;
    flex-direction: column;
    width: 29%;
    padding-top: 60px;
    text-align: center;
  }
  .featuresTitle {
    padding-bottom: 10px;
  }
  .featuresCards {
    display: inherit;
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 60%;
    padding-top: 50px;
    color: white;
  }
  .firstCard {
    display: inherit;
    flex-direction: column;
    border-radius: 10px;
    width: 20%;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    justify-content: center;
    margin-right: 25px;
    transition: all 300ms;
  }
  .firstCard:hover,
  .secondCard:hover,
  .thirdCard:hover {
    position: relative;
    transform: translateY(-15px);
  }
  .secondCard {
    display: inherit;
    flex-direction: column;
    border-radius: 10px;
    padding: 31px;
    width: 20%;
    justify-content: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    margin-right: 25px;
    transition: all 300ms;
  }
  .thirdCard {
    display: inherit;
    flex-direction: column;
    border-radius: 10px;
    padding: 31px;
    width: 20%;
    justify-content: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    margin-right: 25px;
    transition: all 300ms;
  }
  .titleCard {
    padding-top: 35px;
    font-size: 25px;
  }
  .textCard {
    padding-top: 15px;
  }

  /* Third section */
  .teamsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .teamsText {
    display: inherit;
    flex-direction: column;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
  }
  .teamsTitle {
    display: inherit;
    width: 74%;
  }
  .teamsDescr {
    display: inherit;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding: 0 10%;
  }
  .teams-member-container {
    display: inherit;
    flex-direction: column;
    align-items: center;
  }
  .titleDescr {
    font-size: 25px;
  }
  .textDescr {
    font-size: 15px;
  }
  .teams-member-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .teamsFigure {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
  }
  .teamsIMG {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: all 600ms ease-out;
  }
  .teams-member-socials {
    position: absolute;
    top: 0px;
    left: 0px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transition: all 600ms ease-out;
  }

  .teams-member-profile:hover .teamsIMG {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  .teams-member-profile:hover .teams-member-socials {
    top: 90px;
    left: 25px;
    opacity: 1;
  }

  /* Fourth Section */

  .parallaxSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(./images/parallax.png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .parallaxTest {
    display: inherit;
    width: 60%;
    flex-direction: column;
    color: white;
  }
  .titleParallax {
    font-size: 30px;
  }
  .parallaxButton {
    align-self: center;
    padding: 14px;
    position: relative;
    margin-top: 25px;
    width: 15%;
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    transition-property: color, background-color, bottom;
    transition-duration: 0.3s;
    bottom: 0;
  }
  .parallaxButton:hover {
    color: black;
    background-color: white;
    bottom: 5px;
  }

  /* Five Section */
  .blogSection {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background-color: white;
    min-height: 66vh;
  }
  .blogFirstPart {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    width: 30%;
    align-self: center;
    text-align: center;
  }
  .blogTitle {
    font-size: 30px;
  }
  .blogHolder {
    display: inherit;
    justify-content: space-evenly;
    width: 100%;
  }
  .firstBlog {
    display: inherit;
    flex-direction: column;
    width: 25%;
    height: 85%;
  }
  .secondBlog {
    display: inherit;
    flex-direction: column;
    width: 25%;
    height: 85%;
  }
  .thirdBlog {
    display: inherit;
    flex-direction: column;
    width: 25%;
    height: 85%;
  }
  .blogFigure {
    display: inherit;
    height: 74%;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }
  .fa-user {
    display: none;
    position: absolute;
    left: 5%;
    top: 15%;
  }
  .fa-clock {
    display: none;
    position: absolute;
    left: 5%;
    top: 25%;
  }
  .blogImage {
    height: 100%;
  }
  .blogImage:hover {
    filter: grayscale(100%);
  }

  .blogImage:hover ~ .fa-regular {
    display: var(--fa-display, inline-block);
    color: white;
  }
  .titleBlog {
    padding-bottom: 10px;
  }
  .linkBlog {
    padding-top: 10px;
    text-decoration: none;
    color: black;
  }

  /* Six Section */

  .priceSection {
    display: flex;
    flex-direction: row;
    height: 50vh;
    min-height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
  }
  .textPartPrice {
    display: inherit;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: center;
  }
  .titlePart {
    font-size: 24px;
    padding-bottom: 45px;
  }
  .textPart {
    padding-bottom: 40px;
  }
  .firstInfoTextPart {
    display: inherit;
    justify-content: space-between;
    width: 49%;
    font-size: 25px;
  }
  .secondInfoTextPart {
    display: inherit;
    justify-content: space-between;
    width: 60%;
    padding-bottom: 30px;
  }
  .learnmorePricing {
    display: inherit;
    width: 30%;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #5f8fff;
    color: white;
    border: 0;
  }
  .imagePart {
    display: inherit;
    height: 70%;
    width: 35%;
  }
  .figImagePrice {
    display: inherit;
    width: 100%;
  }
  .imgPrice {
    width: 100%;
  }

  /* Seven Section */
  .tabSection {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f3f3f3;
  }
  .tabTextPart {
    width: 26%;
    text-align: center;
    margin-bottom: 60px;
  }
  .tabPart {
    display: inherit;
    width: 70%;
    height: 66%;
    justify-content: space-evenly;
  }
  .tab {
    display: inherit;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: 100%;
    border-radius: 5%;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px gray;
  }
  .tabTwo {
    display: inherit;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: 100%;
    border-radius: 5%;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px gray;
    position: relative;
    bottom: 30px;
  }
  .tabText {
    display: inherit;
    flex-direction: column;
    align-items: center;
  }

  .tabTitle {
    font-size: 15px;
  }
  .textUnderTitle {
    display: inherit;
    flex-direction: row;
    width: 36%;
    font-size: 20px;
    text-align: end;
  }
  .price {
    color: #5a90fe;
    font-size: 50px;
  }
  .time {
    align-self: self-end;
  }
  .tabSpec {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    height: 48%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .Spec,
  .Checklist {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
  }
  .buttonTab {
    display: inherit;
    align-self: center;
    justify-content: center;
    width: 92%;
    background-color: #5a8fff;
    color: white;
    height: 10%;
    align-items: center;
    border-radius: 5px;
    border: 0;
  }
  .buttonTab:hover {
    background-color: #1294b8;
    color: white;
  }

  /* FOOTER */

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 22vh;
    align-items: center;
    background-color: #26272b;
    color: gray;
    text-align: center;
  }
  .footerHolder {
    display: inherit;
    flex-direction: column;
    width: 25%;
  }
  .iconsFooter {
    display: inherit;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  .facebookFooter {
    border-radius: 50%;
    border: solid gray 2px;
    padding: 5px;
  }
  .twitterFooter {
    border-radius: 50%;
    border: solid gray 2px;
    padding: 5px;
  }
  .linkedinFooter {
    border-radius: 50%;
    border: solid gray 2px;
    padding: 5px;
  }
  .gplusFooter {
    border-radius: 50%;
    border: solid gray 2px;
    padding: 5px;
  }
  .rgpdFooter {
    display: inherit;
    justify-content: space-around;
    padding-bottom: 10px;
  }

  /* Button UpToPage */
  .buttonUpToPage {
    position: fixed;
    left: 96%;
    top: 90%;
    padding: 20px;
    border-radius: 50%;
    border: solid gray 2px;
    background-color: #26272b;
    color: white;
  }

/*RESPONSIVE */
@media (max-width: 1122px) {

  /*HEADER */
  header {
    align-items: center;
  }
  .divLinksHeader {
    display: none;
    width: 50%;
  }
  .ulLinksHeader {
    display: none;
    justify-content: space-around;
  }
  .divIconsHeader {
    display: none;
  }

  .burger {
    position: relative;
    cursor: pointer;
    z-index: 2;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 3px;
  }

  .navButtons input[type="checkbox"] {
    height: 10%;
  }

  input[type="checkbox"]:checked ~ .divLinksHeader > .ulLinksHeader {
    display: inherit;
  }
  input[type="checkbox"]:checked ~ .divLinksHeader {
    display: inherit;
    height: 25vh;
    width: 50%;
    z-index: 3;
    position: absolute;
    top: 15%;
    right: 25%;
  }
  input[type="checkbox"]:checked,
  .ulLinksHeader {
    flex-direction: column;
    background-color: black;
  }

  /* First Section */
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .containNews {
    flex-direction: column;
    height: 100%;
  }
  .news {
    align-items: center;
    height: 41vh;
    width: 100%;
  }
  .titleNews {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
  }
  .textNews {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .formHolder{
    width: 100%;
  }

  .imageNews {
    height: 53vh;
    width: 100%;
  }

  /* Second Section */
  .featuresSection {
    height: 100vh;
  }
  .featuresHolder {
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }
  .featuresCards {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .firstCard {
    width: 90%;
    height: 30%;
    margin: 0;
  }
  .secondCard {
    border-radius: 10px;
    width: 90%;
    height: 30%;
    margin: 0;
  }
  .thirdCard {
    border-radius: 10px;
    width: 90%;
    height: 30%;
    margin: 0;
  }

  /* Second Section */
  .teamsSection {
    padding-bottom: 35px;
  }
  .teamsText {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  .teamsDescr {
    flex-direction: column;
    height: 100%;
    width: 90%;
    align-self: center;
  }
  .teams-member-container {
    width: 100%;
    padding-bottom: 25px;
  }
  .teamsFigure {
    padding-top: 15px;
    border-radius: 50%;
  }
  .teamsIMG {
    filter: grayscale(0%);
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 0;
  }

  .teams-member-socials {
    position: absolute;
    top: 90px;
    left: 25px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    opacity: 1;
  }

  /* Third Section */
  .parallaxTest {
    width: 70%;
  }
  .parallaxButton {
    width: 50%;
    transition-property: color, background-color, top;
    transition-duration: 1s;
  }

  /* Blog Section */
  .blogFirstPart {
    width: 80%;
  }
  .blogHolder {
    flex-direction: column;
    text-align: center;
  }
  .firstBlog {
    width: 100%;
    padding-bottom: 15px;
  }
  .secondBlog {
    width: 100%;
    padding-bottom: 15px;
  }
  .thirdBlog {
    width: 100%;
  }

  /* Price Section */
  .priceSection {
    flex-direction: column;
    height: 100vh;
  }
  .textPartPrice {
    width: 100%;
    padding-bottom: 17px;
  }
  .titlePart {
    text-align: center;
    padding-top: 35px;
  }
  .textPart {
    text-align: center;
  }
  .firstInfoTextPart {
    justify-content: space-around;
    width: 100%;
  }
  .secondInfoTextPart {
    justify-content: space-evenly;
    width: 100%;
  }
  .learnmorePricing {
    align-self: center;
    max-width: 40%;
  }
  .imagePart {
    height: 45%;
    width: 100%;
    padding-bottom: 17px;
  }

  /* Tabs Section */
  .tabSection {
    min-height: 120vh;
  }
  .tabTextPart {
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .tabPart {
    flex-direction: column;
    width: 80%;
    height: 85%;
    justify-content: space-evenly;
  }
  .tab {
    width: 100%;
    margin-bottom: 15px;
  }
  .tabTwo {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    bottom: 0;
  }

  /* FOOTER */

  .footerHolder {
    width: 80%;
  }

  .rgpdFooter {
    display: inherit;
    justify-content: space-around;
    padding-bottom: 10px;
  }

  /* Button UpToPage */
  .buttonUpToPage {
    left: 0%;
  }
}